/*
Algumas informações úteis e dicas:
  - Fontes disponíveis:
    font-family: 'Roboto', sans-serif;
    font-family: 'Permanent Marker', cursive;
  - Cores:
    Tons de amarelo:
      #e4fc2b
      #e0d426
      #f7d736
      #e0af26
      #fcb02b
    Tons de cinza:
      #2c2c2c
      #4c4c4c
    Cores dos cards:
      #ead3a7
      #9de0f5
      #ef89ba
      #fae890
      #abe9c1
  - Sombra: https://codepen.io/sdthornton/pen/wBZdXq
 */

 html,
 body {
   font-family: 'Roboto', sans-serif;
   height: 100%;
   width: 100%;
   justify-content: center;
   align-items: center;
   justify-content: center;
 }
 
 /* Você pode usar o CSS comentado abaixo, se ajudar */
 /* Fonte: https://codepen.io/CrisWoler/pen/ogXBLj */
 .btn {
   position: relative;
   display: block;
   padding: 10px 15px;
 
   overflow: hidden;
   width: 500px;
   border-width: 0;
   outline: none;
   border-radius: 2px;
   box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
   font-weight: bold;
   font-family: "roboto", sans-serif;
   background-color: #f7d736;
 
   transition: background-color 0.3s;
 }
 
 .btn > * {
   position: relative;
 }
 
 .btn:before {
   content: "";
 
   position: absolute;
   top: 50%;
   left: 50%;
 
   display: block;
   width: 0;
   padding-top: 0;
 
   border-radius: 100%;
 
   background-color: rgba(236, 240, 241, 0.3);
 
   -webkit-transform: translate(-50%, -50%);
   -moz-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   -o-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
 }
 
 .btn:active:before {
   width: 120%;
   padding-top: 120%;
 
   transition: width 0.2s ease-out, padding-top 0.2s ease-out;
 } 
 
 .appbar {
   position: relative;
   display: flex;
   align-items: stretch;
   padding: 10px 4px;
   overflow: hidden;
   justify-content: space-between;
 
   border-width: 0;
   outline: none;
   border-radius: 2px;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 
   background-color: #f7d736;
   transition: background-color 0.3s;
 
   font-family: "roboto", sans-serif;
 }

 .div-appbar {
   display: flex;
   align-items: center;
 }
 
 .logo {
   width: 3rem;
   height: 2rem;
   padding-right: 1rem;
  
 }

 .tags {
   background-color: #FC9E4F;
   border-radius: 5px;
   width: 100px;
   margin-right: 10px;
   border: 0px;
   box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
   font-family: "roboto", sans-serif;
 }

 
 .subtitle {
   color: #4c4c4c;
 }
 
 .card-container {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   align-content: space-between;
   justify-content: center;
   margin-top: 10px;
 
 }
 
 .header-note {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
 }

 .card {
   background-color:   #ef89ba;
   /*display: flex;
   flex-direction: column;
   align-content: space-around;
   align-items: center;
   justify-content: space-around;*/
   width: 200px;
   height: 100px;
   border-radius: 4px;
   padding: 15px;
   margin: 10px;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 
 }
 
 
 .card-title {
   font-family: 'Permanent Marker', cursive;
   
 }
 
 .card-content {
   font-family: 'Permanent Marker', cursive;
   color: #4c4c4c;
   
 }
 
 
 .card-color-1 {
   background-color: #ead3a7;
 }
 
 .card-color-2 {
   background-color: #9de0f5;
 }
 
 .card-color-3 {
   background-color: #b493a3;
 }
 
 .card-color-4 {
   background-color: #fae890;
 }
 
 .card-color-5 {
   background-color: #abe9c1;
 }
 
 .card-rotation-1{
   transform: rotate(0deg);
 }
 .card-rotation-2{
   transform: rotate(1deg);
 }
 .card-rotation-3{
   transform: rotate(2deg);
 }
 .card-rotation-4{
   transform: rotate(3deg);
 }
 .card-rotation-5{
   transform: rotate(4deg);
 }
 .card-rotation-6{
   transform: rotate(5deg);
 }
 .card-rotation-7{
   transform: rotate(-1deg);
 }
 .card-rotation-8{
   transform: rotate(-2deg);
 }
 .card-rotation-9{
   transform: rotate(-3deg);
 }
 .card-rotation-10{
   transform: rotate(-4deg);
 }
 .card-rotation-11{
   transform: rotate(-5deg);
 }
 .card-rotation-12{
   transform: rotate(6deg);
 }
 .card-rotation-13{
   transform: rotate(-6deg);
 }
 .card-rotation-14{
   transform: rotate(9deg);
 }
 .card-rotation-15{
   transform: rotate(0deg);
 }
 
 
 h3 {
   margin: 2px;
   padding: 4px;
 }
 p {
   margin:unset;
   justify-content: center;
 
 }
 .form-card {
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin: 20px;
   align-items: center;
   padding: 10px;
   width: 500px;
   background-color: white;
   border-radius: 2px;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 }
 
 .form-card-title {
   width: 500px;
   outline: none;
   border-color: transparent;
   font-size: 20px;
   font-family: 'Roboto', sans-serif;
 }

 .form-card-tag {
  width: 500px;
  outline: none;
  border-color: transparent;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 10px;
 }
 
 .autoresize {
   width: 500px;
   outline: none;
   border-color: transparent;
   font-family: 'Roboto', sans-serif;  
   font-size: 15px;
   margin: 2px;
 }
 
 .container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
 }
 
 .update {
   background-color: transparent; 
   border-radius: 5px;
   height: 25px;
   width: 25px;
   border: 0px;
   margin: 2px;
   position: relative;
   right: -7px;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
 }

 .delete {
  background-color: #F25F5C; 
  border-radius: 50px;
  height: 25px;
  width: 25px;
  border: 0px;
  margin: 2px;
  position: relative;
  top: -60px;
  right: -30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-content: center;
 }

 .title {
   display: flex;
 }

 .buttons {
   display: flex;
   flex-direction: column;
   margin-left: 5px;
   padding: 2px;
 }

 .imgUpdate {
   position: relative;
   right: -9px;
 }

 .form-card-delete {
   display: none;
 }

 .form-card-id-update {
   display: none;
 }

 .form-card-content-update {
  margin-top: 5px; 
  border: 2px;
  margin-bottom: 5px;
 }

 .form-card-tag-update {
  margin-top: 5px; 
  border: 2px;
  margin-bottom: 5px;
 }

 .form-card-title-update {
  margin-top: 5px; 
  border: 2px;
  text-align: center;
  margin-bottom: 5px;
 }

 .edit {
   display: flex;
   flex-direction: column;
   width: 220px;
  }
 
 .save-button {
   background-color: transparent;
   border: 0;
 }

  /*
 .tags-table {
  margin-top: 20px;
  display: flex;
  border:1px solid black;
  width:100%;
  height: 400px;
  align-items: center;
  flex-direction: column;
 }

 td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}*/

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 600px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.styled-table thead tr {
  background-color: #fcb02b;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #fcb02b;
}

.tags-tags {
  border: 0px;
  background-color: transparent;
}
 
 