{% extends "notes/indexTags.html" %}
{% load static %}
{% block content_tag %}

<table class="styled-table">
    <thead>
        <tr>
            <th>TAGS</th>
        </tr>
    </thead>
    {% for tag in tags %}
    <tbody>
        <tr>
            <td>
                <button class="tags-tags" 
                type="submit" 
                formmethod="post" 
                onclick="document.location='tags/{{tag.tag}}'">{{tag.tag}}</button> 
            </td>
        </tr>
    </tbody>
    {% endfor %}
</table>
{% endblock %}