{% extends "notes/indexFiltered.html" %}
{% load static %}
{% block content_note %}

{% for note in notes %}
<div class="card" id="card">
        <div class=header-note>
            <h3 class="card-title">{{note.title}}</h3>
        </div>
        <form method="post" action = "delete" class="form-delete">
            {% csrf_token %}
            <input
            class="form-card-delete"
            type="text"
            name="id_card"
            value = {{note.id}}
            />
        </form>
    <div class="card-content">
        <p>{{note.content}}</p>
    </div>
</div>
{% endfor %}

{% endblock %}